<div class="home-banner">
    <header id="main-header2" class="home-header">
        <nav>
            <div class="navbar-wrapper">
                <div class="navbar-logo"></div>
                <div class="navbar-left">
                    <ul>
                        {% for item in page.main_menus %}
                            <li class="menu">
                                <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
                                {% if item.children %}
                                    <ul class="submenu">
                                        {% for child in item.children %}
                                            <li><a href="{{ child.url | relative_url }}">{{ child.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="navbar-right"></div>
            </div>
        </nav>
    </header>
</div>
