$right-sidebar-width-narrow: 100px !default;
$right-sidebar-width: 200px !default;


.custom-page {
  @include breakpoint($large) {
    float: inline-end;
    width: calc(100% - #{$right-sidebar-width-narrow});
    padding-inline-end: $right-sidebar-width-narrow;
  }

  @include breakpoint($x-large) {
    width: calc(100% - #{$right-sidebar-width});
    padding-inline-end: $right-sidebar-width;
  }
}
